.login-page-container {
  min-height: 45vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #d1d1d16f;
}

.login-page-form {
  border: 1px solid black;
  height: 30vw;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: white;
}

.login-page-password-wapper,
.login-page-email-wapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 60px;
  width: 250px;
  gap: 5px;
}

.password-input {
  height: 30px;
  font-size: 16px !important;
  border-radius: 5px;
  background-color: #dafff8;
  border: 0.5px solid black;
  padding: 10px;
}

.email-input {
  height: 30px;
  font-size: 16px !important;
  border-radius: 5px;
  background-color: #dafff8;
  border: 0.5px solid black;
  padding: 5px;
}

.login-page-button-wapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.login-button {
  height: 30px;
  background-color: #1abc9c;
  width: 90px;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.login-button:hover {
  background-color: #09e0b5;
  cursor: pointer;
}

.register-button {
  height: 30px;
  background-color: white;
  width: 90px;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.register-button:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.forgot-password-label {
  cursor: pointer;
  color: #1abc9c;
}

.forgot-password-label:hover {
  cursor: pointer;
  color: #000000;
}

.error {
  color: rgb(216, 106, 106);
}

.forgot-password-link.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* Za vrlo male uređaje (telefoni, manje od 576px) */
@media (max-width: 575.98px) {
  .login-page-container {
    min-height: 130vw;
    width: 100%;
  }

  .login-page-form {
    height: 500px;
    width: 450px;
  }
}

.login-page-input-wrapper {
  display: flex;
  flex-direction: column;
}

/* Za male uređaje (telefoni u portret modu, 576px i više) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .login-page-container {
    min-height: 90vw;
    width: 100%;
  }

  .login-page-form {
    height: 500px;
    width: 450px;
  }
}

/* Za srednje uređaje (tableti, 768px i više) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .login-page-container {
    min-height: 70vw;
    width: 100%;
  }

  .login-page-form {
    height: 500px;
    width: 450px;
  }
}

/* Za velike uređaje (veći tableti ili mali laptopovi, 992px i više) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .login-page-container {
    min-height: 50vw;
    width: 100%;
  }

  .login-page-form {
    height: 500px;
    width: 450px;
  }
}

/* Za vrlo velike uređaje (desktop računari, 1200px i više) */
@media (min-width: 1200px) and (max-width: 1400px) {
  .login-page-container {
    min-height: 50vw;
    width: 100%;
  }

  .login-page-form {
    height: 500px;
    width: 450px;
  }
}
